## C++ #########################################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


**/build/
**/*.msh

**/mesh/*
EspositoGrassiVenezia/text/report/main.aux
EspositoGrassiVenezia/text/report/main.bbl
EspositoGrassiVenezia/text/report/main.blg
EspositoGrassiVenezia/text/report/main.fdb_latexmk
EspositoGrassiVenezia/text/report/main.fls
EspositoGrassiVenezia/text/report/main.log
EspositoGrassiVenezia/text/report/main.pdf
EspositoGrassiVenezia/text/report/main.synctex.gz
EspositoGrassiVenezia/text/report/main.toc
EspositoGrassiVenezia/text/report/main.aux
EspositoGrassiVenezia/text/report/main.bbl
EspositoGrassiVenezia/text/report/main.blg
EspositoGrassiVenezia/text/report/main.fdb_latexmk
EspositoGrassiVenezia/text/report/main.fls
EspositoGrassiVenezia/text/report/main.log
EspositoGrassiVenezia/text/report/main.pdf
EspositoGrassiVenezia/text/report/main.synctex.gz
EspositoGrassiVenezia/text/report/main.toc
