## C++ #########################################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


**/build/
**/*.msh

**/mesh/*
EspositoGrassiVenezia/brain/build
EspositoGrassiVenezia/brain-nD/build

EspositoGrassiVenezia/text/report/*

!EspositoGrassiVenezia/text/report/main.pdf
!EspositoGrassiVenezia/text/report/main.txt
!EspositoGrassiVenezia/text/report/preamble.txt